html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222222;
    color: #e3e3e3;
}

table {
    width: 100%;
}

.translations-container {
    margin-top: 5%;
    margin-bottom: 5%;
    border: #000 solid 1px;
    background-color: #707070;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
}

.translations-total-label {
    margin: 10px;
    font-size: 1.5em;
}

.table-hover tbody tr:hover {
    color: #111;
}

input {
    color: #000;
}

.translations-main-block {
    margin-left: 25px;
    margin-right: 25px;
}